# ==============================================================================
# Rule for Shareable Project
# ==============================================================================
environment/*
input/*
output/*

!code/.gitkeep
!environment/.gitkeep
!input/.gitkeep
!output/.gitkeep
!stuff/.gitkeep

!environment/*.conda.yaml
!environment/Project.toml
!environment/Manifest.toml

!stuff/guardiome_logo.png

# ==============================================================================
# Rule for Omics App
# ==============================================================================
!stuff/omics_app_logo.png
!stuff/omics_app_icon.png
