# See https://git-scm.com/docs/gitignore to learn more about .gitignore file.

# ==============================================================================
# Default .gitignore rules for a shareable project.

environment/*
data/*
output/*

!environment/.gitkeep
!data/.gitkeep
!code/.gitkeep
!output/.gitkeep
!media/.gitkeep
# ==============================================================================

# ==============================================================================
# Default .gitignore rules for an Omics App

!data/sample

data/sample/*
!data/sample/.gitkeep

!data/input.g2p.tsv
# ==============================================================================
