# ==============================================================================
# Default .gitignore rules for shareable project.
# ==============================================================================
environment/*
input/*
output/*

!code/.gitkeep
!environment/.gitkeep
!input/.gitkeep
!output/.gitkeep
!stuff/.gitkeep

!environment/*.yaml

# ==============================================================================
# Default .gitignore rules for Omics App.
# ==============================================================================
!stuff/guardiome_logo.png
!stuff/omics_app_logo.png
!stuff/icon.png
